[submodule "larcv"]
	path = larcv
	url = https://github.com/larbys/larcv
[submodule "ublarcvapp"]
	path = ublarcvapp
	url = https://github.com/LArbys/ublarcvapp
[submodule "larlite"]
	path = larlite
	url = https://github.com/NuTufts/larlite.git
[submodule "Geo2D"]
	path = Geo2D
	url = https://github.com/LArbys/Geo2D
[submodule "LArOpenCV"]
	path = LArOpenCV
	url = https://github.com/NevisUB/LArOpenCV
[submodule "ublarcvserver"]
	path = ublarcvserver
	url = https://github.com/larbys/ublarcvserver
[submodule "cilantro"]
	path = cilantro
	url = https://github.com/NuTufts/cilantro.git
[submodule "sparse_infill"]
	path = sparse_infill
	url = https://github.com/NuTufts/sparse_infill.git
[submodule "larflow"]
	path = larflow
	url = https://github.com/nutufts/larflow
[submodule "argparse"]
	path = argparse
	url = https://github.com/NuTufts/argparse.git
[submodule "lardly"]
	path = lardly
	url = https://github.com/larbys/lardly
