[submodule "larcv"]
	path = larcv
	url = https://github.com/larbys/larcv
[submodule "ublarcvapp"]
	path = ublarcvapp
	url = https://github.com/LArbys/ublarcvapp
[submodule "larlite"]
	path = larlite
	url = https://github.com/larlight/larlite
